.container {
  top: 0; 
  z-index: 1;
  width: 100%;
  display: flex;
  position: fixed; 
  padding: 14px 21px;
  align-items: center;
  background:#1E2034;
  opacity: 80%;
  border-radius: 1px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.788); 
}

.container ul {
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
  margin-right: 70px;
}

.container a {
  color: rgb(252, 10, 10);
}


.container li {
  flex-shrink: 100;
  margin-left: 35px;
  padding: 3px;
  text-align: right;
  min-width: fit-content;
}

@media only screen and (max-width: 800px) {
  .container ul {
    padding-left: 10px;
  }
  .container li {
    font-size: 15px;
  }
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgb(14, 13, 13);
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(252, 10, 10);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown-menu {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown-menu .meals-btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(30, 7, 238);
}

/* Dropdown content (hidden by default) */
.dropdown-menue-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-menue-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-menue-content a:hover {
  background-color: #ffffff42;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navLink {
  height: 100px;
  width: 100px;
  object-fit: contain;
  display: flex;
  background-color: rgba(1, 0, 5, 0);
  z-index: 0;
}

.navLink > img {
  width: auto;
  height: 100%;
  z-index: 1;
 }
