.container {
  gap: 14px;
  display: grid;
  padding: 21px;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgba(184, 205, 226, 0.788);
}
    
  main.container {
    padding-top: 70px;
}
.container article {
  border: 1px solid black;
  background-color: white;
  width: 60%;
  height: 140px;
}
